<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Quickly find and live preview virtual backgrounds for your next online meeting!">

	<meta property="og:title" content="Virtual Background Finder">
	<meta property="og:description" content="Quickly find and live preview virtual backgrounds for your next online meeting!">
	<meta property="og:image" content="https://virtualbackgroundfinder.com/img/placeholder/default-background-no-cam.png">
	<meta property="og:url" content="https://virtualbackgroundfinder.com">
	<meta name="twitter:card" content="summary_large_image">

	<link rel="icon" href="/img/favicon.ico">
	
	<title> Virtual Background Finder </title>
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="css/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet">
	<!-- minified with https://cssminifier.com/ -->
	<link href="css/min/style.min.css" rel="stylesheet">
	<link href="css/min/webcam.min.css" rel="stylesheet">

	<!-- Third party libraries -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.4.0/dist/confetti.browser.min.js"></script>

	<!-- Webcam scripts -->
	<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    <script src='js/min/html2canvas.min.js'></script>
    <script src='js/min/webcam-easy.min.js'></script>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-93PLLBHF0K"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-93PLLBHF0K');
	</script>
</head>

<body>
	<section class="main-content">

		<header>
			<div class="container">
				<div class="header-content">
			<div class="logo">
			<a href=""> <img src="img/logo.png"> </a>
			</div>
			<div class="logo-text">Virtual Background Finder</div>
			<div class="social-icons">
			Share this page: 
			<a href="https://www.facebook.com/sharer/sharer.php?u=http://virtualbackgroundfinder.com" target="_blank"> <img src="img/fb-icon.jpg"> </a>
			<a href="http://twitter.com/share?text=Check out this 🔥 tool to find virtual backgrounds: &url=http://virtualbackgroundfinder.com&hashtags=zoom,teams,virtualbackground,remotework,remote,meetings" target="_blank"> <img src="img/twitter-icon.jpg"> </a>
			</div>
		</div>
			</div>
		</header>

		<div id="banner-top">
			<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=48&l=ur1&category=amazonmom&banner=1Z1SYMKHY3SN1KJYFW02&f=ifr&linkID=2a27fa03cb5ff3507f54be0fabb68c72&t=pericror03-20&tracking_id=pericror03-20" width="728" height="90" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
		</div>

		<div id="banner-left" class="banner">
			<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=29&l=ur1&category=kitchen&banner=02B8WKTC39E2Q4QGNEG2&f=ifr&linkID=b00b16f75d03cd86543b2c3a51c39dd8&t=pericror03-20&tracking_id=pericror03-20" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
		</div>

		<div id="banner-right" class="banner">
			<iframe src="//rcm-na.amazon-adsystem.com/e/cm?o=1&p=29&l=ur1&category=homegarden&banner=1F8MX0MPDHRKM89BF3G2&f=ifr&linkID=68da41f0afc86f537dfc9b5b04048128&t=pericror03-20&tracking_id=pericror03-20" width="120" height="600" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
		</div>

		<div class="container">

            <div id="webcam-container" class="webcam-container">
                <div class="sk-fading-circle load-cam">
                  <div class="sk-circle1 sk-circle"></div>
                  <div class="sk-circle2 sk-circle"></div>
                  <div class="sk-circle3 sk-circle"></div>
                  <div class="sk-circle4 sk-circle"></div>
                  <div class="sk-circle5 sk-circle"></div>
                  <div class="sk-circle6 sk-circle"></div>
                  <div class="sk-circle7 sk-circle"></div>
                  <div class="sk-circle8 sk-circle"></div>
                  <div class="sk-circle9 sk-circle"></div>
                  <div class="sk-circle10 sk-circle"></div>
                  <div class="sk-circle11 sk-circle"></div>
                  <div class="sk-circle12 sk-circle"></div>
                </div>
                <div class="form-control webcam-start" id="webcam-control">
                    <label class="form-switch">
                    <input type="checkbox" id="webcam-switch">
                    <i></i> 
                    <span id="webcam-caption" class="noselect">1. Click to enable your webcam to live preview.<br> <span style="font-style:italic">We never store or record your data</span> </span>
                    </label>                        
                </div>
                <video id="webcam" autoplay playsinline></video>
                <div id="background-container">
                    <img id="background-img" src="img/placeholder/default-background-no-cam.png"></img>
                    <canvas id="canvasPerson"></canvas>
                </div>
            </div>

			<div id="image-info">
				<span id="author">Photo by <a href="https://unsplash.com/@lukechesser?utm_source=virtual_background_finder&utm_medium=referral" target="_blank"><span id="author-name">Luke Chesser</span></a> on <a href="https://unsplash.com/?utm_source=virtual_background_finder&utm_medium=referral">Unsplash</a> </span>
				<button id="download-btn"
				data-download="https://api.unsplash.com/photos/IGtutkXikuc/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxM3x8Z3JhZGllbnR8ZW58MXwwfHx8MTYxNTY2MTg0OQ"
				data-backup="https://images.unsplash.com/photo-1557683311-eac922347aa1?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxM3x8Z3JhZGllbnR8ZW58MXwwfHx8MTYxNTY2MTg0OQ&ixlib=rb-1.2.1&q=80&w=1080">
				Download Background</button>
			</div>

			<div class="search-form">
				<input id="search-input" type="text" placeholder="2. Type your search term (i.e beach, space, gradient) here, click search then click an image below to preview!" name="" data-history="default">
				<button id="search-button"> <i class="fa fa-search"> </i> Search </button>
			</div>
				
			<div class="gallery-wrapper">
				<div class="gallery-images">

					<div class="sk-fading-circle load-gallery">
						<div class="sk-circle1 sk-circle"></div>
						<div class="sk-circle2 sk-circle"></div>
						<div class="sk-circle3 sk-circle"></div>
						<div class="sk-circle4 sk-circle"></div>
						<div class="sk-circle5 sk-circle"></div>
						<div class="sk-circle6 sk-circle"></div>
						<div class="sk-circle7 sk-circle"></div>
						<div class="sk-circle8 sk-circle"></div>
						<div class="sk-circle9 sk-circle"></div>
						<div class="sk-circle10 sk-circle"></div>
						<div class="sk-circle11 sk-circle"></div>
						<div class="sk-circle12 sk-circle"></div>
					  </div>

					<!-- we use a fixed four page max template that corresponds to the 30 image limit retrieved from unsplash-->	
					<ul class="page noselect" style="display:block;">
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNXx8Zmxvd2VyfGVufDF8MHx8fDE2MTU2MDg1MjQ&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Arno Smit"
								data-author-link="https://unsplash.com/@_entreprenerd"
								data-download-link="https://api.unsplash.com/photos/sKJ7zSylUao/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNXx8Zmxvd2VyfGVufDF8MHx8fDE2MTU2MDg1MjQ"
								data-background-link="https://images.unsplash.com/photo-1462275646964-a0e3386b89fa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNXx8Zmxvd2VyfGVufDF8MHx8fDE2MTU2MDg1MjQ&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1516948252849-b660029997b4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyM3x8bmV3JTIweW9ya3xlbnwxfDB8fHwxNjE1NjY1MjAw&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Carl Solder"
								data-author-link="https://unsplash.com/@carlsolder"
								data-download-link="https://api.unsplash.com/photos/BAfzYlMlQRs/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyM3x8bmV3JTIweW9ya3xlbnwxfDB8fHwxNjE1NjY1MjAw"
								data-background-link="https://images.unsplash.com/photo-1516948252849-b660029997b4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyM3x8bmV3JTIweW9ya3xlbnwxfDB8fHwxNjE1NjY1MjAw&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHw1fHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx&ixlib=rb-1.2.1&q=80&w=200"
								data-author="NASA"
								data-author-link="https://unsplash.com/@nasa"
								data-download-link="https://api.unsplash.com/photos/yZygONrUBe8/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHw1fHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx"
								data-background-link="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHw1fHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1519046904884-53103b34b206?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxODI2NzN8MHwxfHNlYXJjaHwyfHxiZWFjaHxlbnwxfDB8fHwxNjE1NDk1MDU4&ixlib=rb-1.2.1&q=80&w=1080"
								data-author="Elizeu Dias"
								data-author-link="https://unsplash.com/@elishavision?utm_source=your_app_name&utm_medium=referral"
								data-download-link="https://api.unsplash.com/photos/RN6ts8IZ4_0/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyfHxiZWFjaHxlbnwxfDB8fHwxNjE1NTg3NTUw"
								data-background-link="https://images.unsplash.com/photo-1519046904884-53103b34b206?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyfHxiZWFjaHxlbnwxfDB8fHwxNjE1NTg3NTUw&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1500042600524-37ecb686c775?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNnx8cmFpbmJvd3xlbnwxfDB8fHwxNjE1NjYzOTUy&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Daniele Levis Pelusi"
								data-author-link="https://unsplash.com/@yogidan2012"
								data-download-link="https://api.unsplash.com/photos/UUjxTEET0c0/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNnx8cmFpbmJvd3xlbnwxfDB8fHwxNjE1NjYzOTUy"
								data-background-link="https://images.unsplash.com/photo-1500042600524-37ecb686c775?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxNnx8cmFpbmJvd3xlbnwxfDB8fHwxNjE1NjYzOTUy&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1570077188670-e3a8d69ac5ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzYW50b3Jpbml8ZW58MXwwfHx8MTYxNTY2MjQxMQ&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Heidi Kaden"
								data-author-link="https://unsplash.com/@infinitexplorer"
								data-download-link="https://api.unsplash.com/photos/kYxgm42SQso/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzYW50b3Jpbml8ZW58MXwwfHx8MTYxNTY2MjQxMQ"
								data-background-link="https://images.unsplash.com/photo-1570077188670-e3a8d69ac5ff?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzYW50b3Jpbml8ZW58MXwwfHx8MTYxNTY2MjQxMQ&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1464802686167-b939a6910659?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Jeremy Thomas"
								data-author-link="https://unsplash.com/@jeremythomasphoto"
								data-download-link="https://api.unsplash.com/photos/E0AHdsENmDg/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx"
								data-background-link="https://images.unsplash.com/photo-1464802686167-b939a6910659?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwxfHxzcGFjZXxlbnwxfDB8fHwxNjE1NjY0NDAx&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
						<li class="thumbnail-container">
							<img src="https://images.unsplash.com/photo-1503177119275-0aa32b3a9368?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyfHxweXJhbWlkc3xlbnwxfDB8fHwxNjE1NjYyODg2&ixlib=rb-1.2.1&q=80&w=200"
								data-author="Jeremy Bishop"
								data-author-link="https://unsplash.com/@jeremybishop"
								data-download-link="https://api.unsplash.com/photos/HcgK4WoBwzg/download?ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyfHxweXJhbWlkc3xlbnwxfDB8fHwxNjE1NjYyODg2"
								data-background-link="https://images.unsplash.com/photo-1503177119275-0aa32b3a9368?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwyMTQ0OTF8MHwxfHNlYXJjaHwyfHxweXJhbWlkc3xlbnwxfDB8fHwxNjE1NjYyODg2&ixlib=rb-1.2.1&q=80&w=1080" >
								<div> <span> Preview </span> </div>
						</li>
					</ul>
					<ul class="page"></ul>
					<ul class="page"></ul>
					<ul class="page"></ul>
				</div>

				<div class="gallery-pagination">
					<ul class = "noselect">
						<li class="page-button" data-page-id="previous"> <i class="fa fa-angle-left"></i> </li>
						<li class="page-button selected-page" data-page-id="1">1</li>
						<li class="page-button" data-page-id="2" style="display:none;">2</li>
						<li class="page-button" data-page-id="3" style="display:none;">3</li>
						<li class="page-button" data-page-id="4" style="display:none;">4</li>
						<li class="page-button" data-page-id="next"> <i class="fa fa-angle-right"></i> </li>
					</ul>
				</div>
			</div>

			<div class="modal-window">
				<div>
					<span class="modal-close">&times;</span>
					<div>Please enable your webcam below before using the search feature.</div>
				</div>
			</div>

		</div>

		<footer>
			<span class="seperator">Feedback? <a href="mailto:info@mashallahmedia.com">Contact us.</a></span>
			<span class="seperator"><a href="https://chrome.google.com/webstore/detail/wifi-performance-outage-a/deofojifdhnbpkhfpjpnjdplfallmnbf">Internet issues in remote meetings? Troubleshoot with HubbleIQ</a></span>
			<span class="seperator">Preview made with <a href="https://github.com/tensorflow/tfjs-models/tree/master/body-pix" target="_blank">body-pix</a> and <a href="https://github.com/bensonruan/Selfie-Anywhere">selfie-anywhere</a>.</span>
			<span class="seperator">This site is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program.</span>
		</footer>

	</section>

	<!-- scripts minified from https://closure-compiler.appspot.com/-->
	<script src="js/min/image-utility.min.js"></script>
	<script src="js/min/main.min.js"> </script>
	<script src='js/min/webcam-model.min.js'></script>
</body>
</html>